# langchain v1.0
langchain==1.0.3
langchain-core==1.0.3
langchain_community==0.4.1

# langchain openai
langchain-openai==1.0.2

# 阿里云百炼大模型
dashscope==1.25.1

# rag相关
pymilvus==2.6.3
langchain-text-splitters==1.0.0
langchain-milvus==0.2.2

# 环境变量管理（用于保存API密钥）
python-dotenv==1.0.1

# 请求
requests<3.0.0,>=2.32.5

# fastapi
fastapi==0.121.1
starlette==0.49.3
uvicorn==0.38.0

# 表单数据
python-multipart==0.0.20

# 事件监听
pypubsub==4.0.3

# opencv
opencv-python==4.12.0.88
numpy==2.2.6

# yaml 解析
pyyaml==6.0.3


